.slider{
    display:flex;
    align-items:center;
}

#display-values{
    display:flex;
    justify-content:center;
}

table{
    width:90vw;
}

tr{
    text-align:center;
}

th{
    font-size:18pt;
    height:2em;
}

td{
    height: 1.5em;
    margin: 20px;
}

.info:hover{
    cursor:pointer;
    background-color:lime;
}

.year{
    font-weight:bold;
}